In [208]:
import pandas as pd

%matplotlib inline

In [221]:
df=pd.read_csv('2019.csv')
keywords = [' ON ', 'SAINSBURYS', 'WAGAMAMA', 'CO-OP', 'COSTA']
keywords = [' ON ', '\*', '/', 'LTD',' PO ', ' BC', ' STORES ', ' REDHILL', ' MORTGAGE ', ' CO ', ' CONNEC', ' PYMTS ', ' FINANCI    ', ' PLC ', ' CAPITAL ', ' LIMITED ', ' MEM ', ' MIA ', ' NDDS ', ' PL ']
tidy(df, keywords)
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df['year'] = pd.DatetimeIndex(df['Date']).year
df['month'] = pd.DatetimeIndex(df['Date']).month
df['Memo'] = df['Memo'].str.strip()
df.Memo.unique()
dx=df[df.Subcategory == 'PAYMENT']
dx.groupby(['Memo', 'Subcategory', 'month'], as_index=False)['Amount'].sum().to_csv('look.csv')
#df

In [106]:
memo = df.Memo.str.split(pat=' ON ', n=1, expand=True)
df['Memo'] = memo[0]


df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df['year'] = pd.DatetimeIndex(df['Date']).year
df['month'] = pd.DatetimeIndex(df['Date']).month

df=df[['year', 'month','Memo', 'Subcategory', 'Amount']]

In [100]:
dfg=df.groupby(['Memo', 'Subcategory','month'], as_index=False)['Amount'].sum().sort_values('month')#.sort_values(['Amount', 'month'])
dfg = dfg[dfg.Amount < 0]
dfg = dfg[dfg.Subcategory != 'DIRECTDEBIT']
dfg.head()

                                             Memo Subcategory  month  Amount
665  MORTONS               IRELAND                    PAYMENT      1   -7.47
510  HSBC                  403810REIGATE                 CASH      1  -50.00
520                         INDIGO UK-GTR             PAYMENT      1  -28.35
524                         INSIDE OUT HEALTH         PAYMENT      1  -37.95
529  ITUNES.COM/BILL       IRELAND                    PAYMENT      1   -9.78

In [179]:
def tidy(df, keywords):
    
    for kw in keywords:
        res = df.Memo.str.split(pat=kw, n=1, expand=True)
        df['Memo'] = res[0]
    return df